node_modules
# Keep environment variables out of version control
dist

.env
.env.local

/src/generated/prisma
.claude 
.agents
.windsurf

skills-lock.json
customer-docs

meeo-1242a-firebase-adminsdk-fbsvc-f26d581a31.json